@model IEnumerable<New_ATCSharp.Models.PilotoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorridasGanhas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorridasGanhas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Footer 
{
                <span>Mundo dos Pilotos</span> <img src="https://cdn-3.motorsport.com/images/amp/6b7xDWv0/s1000/drivers-group-photo-with-the-2.jpg" style="height: 50px; width: 50px;"/>
}